##### Smart Buy Sentinel - Arborescence Officielle #####

# --- SÉCURITÉ & SECRETS (CRITIQUE) ---
.env
*.env
secrets/

# --- DONNÉES BRUTES & TRAITÉES (À NE JAMAIS PUSHER) ---


# --- DBT TARGET & LOGS (À NE JAMAIS PUSHER) ---
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
dbt_project/dbt_modules/

# --- FICHIERS DE DONNÉES (Partout) ---
*.csv
*.json
*.parquet
*.avro
*.db
*.sqlite

# --- PYTHON ---
__pycache__/
dags/__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.so
.Python
build/
dist/

# --- LOGS D'INFRASTRUCTURE ---
*.log
logs/

# --- AIRFLOW (Local) ---
airflow-webserver.pid
airflow.cfg
webserver_config.py

# --- STREAMLIT ---
streamlit-app/.streamlit/
.streamlit/cache/

# --- DOCKER ---
postgres_data/
.dockerignore

# --- IDE & OS ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db