apache-airflow-providers-apache-spark==4.0.0 
apache-airflow-providers-mongodb 
psycopg2-binary 
pyspark==3.5.0
dbt-postgres 
cloudscraper 
beautifulsoup4 
pandas 
pymongo 
astronomer-cosmos
curl_cffi